<html lang="zh">

<head>
  <meta charset="utf-8">
  <title>Let`s Movie | 一起看電影</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="stylesheet" href="bower_components/sweetalert2/dist/sweetalert2.min.css">
  <link href="css/theme-red.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/font-georgia.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/index.css" rel="stylesheet" type="text/css" media="all" />
  <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
  <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>



</head>

<body>
  <div class="loading6"></div>
  <div class="admin_page">
    <a id="top"></a>
    <nav class="admin-nav">
      <div class="nav-bar">
        <div class="module left">
          <a href="index.html">
            <img class="logo logo-light" alt="Foundry" src="img/logo-dark.png" />
            <img class="logo logo-dark" alt="Foundry" src="img/logo-dark.png" />
          </a>
        </div>
        <!--end of module group-->
      </div>
    </nav>
    <nav class="absolute profile-nav fixed scrolled" style="">
      <div class="nav-bar">

        <div class="module widget-handle mobile-toggle right visible-sm visible-xs" style="border: none;">
          <i class="ti-menu"></i>
        </div>
        <div class="module-group left">
          <div class="module left">
            <ul class="menu sub-menu">
              <li>
                <a href="admin_join.html">馬上報名</a>
              </li>
              <li>
                <a href="admin_check.html">檢視約會</a>
              </li>
              <li>
                <a href="admin_profile.html">個人資料</a>
              </li>
            </ul>
          </div>
          <!--end of menu module-->
        </div>
        <!--end of module group-->
      </div>
    </nav>
  </div>




  <div class="admin-container">
    <div class="alert alert-warning alert-dismissible container" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <strong>您的個人資料尚未填寫完全!</strong></br>
      <p>
        個人資料填寫完畢才能報名活動喔。
      </p>
      <a class="waves-effect waves-light btn btn-filled write-data" href="admin_profile.html">馬上填寫</a>
    </div>
    <div class="alert alert-danger alert-dismissible container" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <strong>近期約會!</strong></br>
      <p>
        6/1 台北場 Let`s Movie 一對一電影約會
      </p>
      <a class="waves-effect waves-light btn btn-filled">馬上報名</a>
    </div>
    <div class="alert alert-info alert-dismissible container" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <strong>報名截止前記得匯款喔<span>（匯款後才會幫您配對，如果已經匯款請忽略此訊息）</span></strong></br>
      <p>
        6/15 台北場 Let`s Movie 一對一電影約會
      </p>
      <a class="waves-effect waves-light btn btn-filled pay">馬上匯款</a>
      <!-- <a class="btn btn-filled" href="#">馬上匯款</a> -->
    </div>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-12" style="padding-left: 0px ; padding-right: 0px">
            <div class="image-tile outer-title text-center">
              <img alt="Pic" src="" id="pic_my">
              <div class="title mb16">
                <h5 class="uppercase mb0" id="user_name">Sally Marsh</h5>
                <span>Creative Director</span>
              </div>
            </div>
            <div class="tabbed-content nopadding box-shadow admin-tab" id="app2">
              <h4 class="uppercase">個人資料</h4>
              <div class="row">
                <form class="col s12 admin-form">
                  <div class="row">
                    <div class="input-field col s12 m7">
                      <i class="material-icons prefix">account_circle</i>

                      <input id="user_name2" type="text" class="validate name" v-model="displayName" required>

                      <label for="icon_prefix" class="default">姓名</label>
                      <div class="form-comment">此資料僅顯示予與您確認身份用。</div>
                    </div>

                    <div class="input-field col s12 m7">
                      <i class="material-icons prefix">phone</i>
                      <input id="icon_telephone" type="tel" class="validate phone" v-model="phone"required>
                      <label class="default" for="icon_telephone">電話</label>
                      <div class="form-comment">此資料僅顯示予與您確認身份用。</div>
                    </div>
                    <div class="input-field col s12 m7">
                      <i class="material-icons prefix">mail_outline</i>
                      <input id="icon_prefix" type="text" class="validate email" v-model="email" required>
                      <label class="default" for="icon_prefix">信箱</label>
                      <div class="form-comment">此資料用於發送活動通知，不會有廣告信件。</div>
                    </div>
                    <div class="input-field col s12 m7">
                      <i class="material-icons prefix">sms</i>
                      <input id="icon_prefix" type="text" class="validate line" v-model="lineID" required>
                      <label class="default" for="icon_prefix">Line ID</label>
                      <div class="form-comment">此資料用於聊天過程的line，報名活動前務必確認正確。</div>
                    </div>
                    <div class="input-field col s12 m7">
                      <i class="material-icons prefix">face</i>
                      <input id="icon_prefix" type="text" class="validate nick_name" v-model="nickname" required>
                      <label class="default" for="icon_prefix">暱稱</label>
                    </div>
                    <div class="input-field col s12 m7">
                      <i class="material-icons prefix">favorite_border</i>
                      <input id="disabled" type="text" class="validate sexual" v-model="gender">
                      <label class="default" for="icon_sexual">性別</label>
                    </div>
                    <div class="input-field col s12 m7">
                      <i class="material-icons prefix">insert_emoticon</i>
                      <input  id="disabled" type="text" class="validate age" v-model="age" required>
                      <label class="default" for="icon_age">年齡</label>
                    </div>
                    <div class="input-field col s12 m7 profile-data">
                      <i class="material-icons prefix">record_voice_over</i>
                      <label class="person">別人通常怎麼形容你？<span>至多選擇三項</span></label>

                      <div class="profile-checkbox">
                        <p>
                          <input type="checkbox" v-model="description" value="活潑開朗" id="test1" />
                          <label for="test1"> 活潑開朗</label>
                        </p>
                        <p>
                          <input type="checkbox" v-model="description" value="幽默風趣" id="test2" />
                          <label for="test2"> 幽默風趣</label>
                        </p>
                        <p>
                          <input type="checkbox" v-model="description" value="成熟穩重" id="test3" />
                          <label for="test3"> 成熟穩重</label>
                        </p>
                        <p>
                          <input type="checkbox" v-model="description" value="魅力無限" id="test4" />
                          <label for="test4"> 魅力無限</label>
                        </p>
                        <p>
                          <input type="checkbox" v-model="description" value="體貼細心" id="test5" />
                          <label for="test5"> 體貼細心</label>
                        </p>
                        <p>
                          <input type="checkbox" v-model="description" value="聰明有趣" id="test6" />
                          <label for="test6"> 聰明有趣</label>
                        </p>
                        <p>
                          <input type="checkbox" v-model="description" value="做事認真" id="test7" />
                          <label for="test7"> 做事認真</label>
                        </p>
                        <p>
                          <input type="checkbox" v-model="description" value="待人誠懇" id="test8" />
                          <label for="test8"> 待人誠懇</label>
                        </p>
                        <p>
                          <input type="checkbox" v-model="description" value="朋友很多" id="test9" />
                          <label for="test9"> 朋友很多</label>
                        </p>
                        <p>
                          <input type="checkbox" v-model="description" value="開心果" id="test10" />
                          <label for="test10"> 開心果</label>
                        </p>
                        <!-- <span>Checked names: {{ description | json }}</span> -->
                        <!-- <p>
                          <input id="icon_prefix" v-model="description"  type="text" class="validate other" >
                        </p> -->
                      </div>
                    </div>
                    <div class="input-field col s12 m7 profile-data">
                      <i class="material-icons prefix">donut_small</i>
                      <label class="person">你的職業是？<span>單選</span></label>
                      <div class="profile-radio">
                        <p>
                          <input type="radio" name="group2" class="with-gap" id="test11" v-model="profession" value="商業/服務業" />
                          <label for="test11"> 商業/服務業</label>
                        </p>
                        <p>
                          <input type="radio" name="group2" class="with-gap" id="test12" v-model="profession" value="大學生/研究生" />
                          <label for="test12"> 大學生/研究生</label>
                        </p>
                        <p>
                          <input type="radio" name="group2" class="with-gap" id="test13" v-model="profession" value="醫療相關" />
                          <label for="test13"> 醫療相關</label>
                        </p>
                        <p>
                          <input type="radio" name="group2" class="with-gap" id="test14" v-model="profession" value="藝術設計" />
                          <label for="test14"> 藝術設計</label>
                        </p>
                        <p>
                          <input type="radio" name="group2" class="with-gap" id="test15" v-model="profession" value="工程師" />
                          <label for="test15"> 工程師</label>
                        </p>
                        <p>
                          <input type="radio" name="group2" class="with-gap" id="test16" v-model="profession" value="老師" />
                          <label for="test16"> 老師</label>
                        </p>
                        <p>
                          <input type="radio" name="group2" class="with-gap" id="test17" v-model="profession" value="創業家" />
                          <label for="test17"> 創業家</label>
                        </p>
                        <p>
                          <input id="icon_prefix" type="text" class="validate other" value="其他" >
                        </p>
                      </div>
                    </div>
                    <div class="input-field col s12 m7 habbit">
                      <i class="material-icons prefix">pets</i>
                      <textarea id="textarea1" v-model="interests" class="materialize-textarea admin-textarea hobby" required></textarea>
                      <label class="default" for="textarea1">你的興趣是？</label>
                    </div>
                    <div class="input-field col s12 m7">
                      <button class="btn waves-effect waves-light" type="submit" name="action" v-on:click="updateUser()">確認修改

                      </button>
                    </div>







                  </div>
                </form>
              </div>
            </div>

          </div>
          <!--end of button tabs-->
        </div>
      </div>
      <!--end of row-->
  </div>
  <!--end of container-->
  </section>
  </div>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/flickr.js"></script>
  <script src="js/flexslider.min.js"></script>
  <script src="js/lightbox.min.js"></script>
  <script src="js/masonry.min.js"></script>
  <script src="js/twitterfetcher.min.js"></script>
  <script src="js/spectragram.min.js"></script>
  <script src="js/ytplayer.min.js"></script>
  <script src="js/countdown.min.js"></script>
  <script src="js/smooth-scroll.min.js"></script>
  <script src="js/parallax.js"></script>
  <script src="bower_components/sweetalert2/dist/sweetalert2.min.js"></script>
  <script src="js/scripts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script src="js/index.js"></script>
  <script src="js/server.js"></script>

  <script>
    var auth = firebase.auth();
    var name;
    var uid;
    var usersFirebase;
    auth.onAuthStateChanged(function(user) {
      if (user) {

        uid = user.uid;
        var name = user.displayName;
        var photoURL = user.photoURL;
        // console.log("uid :" + uid + " User Login");
        // console.log("name:" + name);
        // console.log("photo網址" + photoURL);
        //index.html
        $('.avatar, .user_name, .check_date, .logout').show();
        $('.fb_login').hide();
        $('#pic_my').attr("src", photoURL);
        $('.user_name p').text(name + "，歡迎回來");


        firebase.database().ref('users/' + uid).once("value").then(function(all) {
          var descriptionArray = [];
          usersFirebase = all.val();
          if (usersFirebase.description !== undefined){
          descriptionArray=usersFirebase.description;
          console.log("更新description");
        };
          var vm2 = new Vue({
            el: '#app2',
            data: {
              displayName: usersFirebase.displayName,
              photoURL: usersFirebase.photoURL,
              email: usersFirebase.email,
              lineID: usersFirebase.lineID,
              phone: usersFirebase.phone,
              nickname: usersFirebase.nickname,
              gender: usersFirebase.gender,
              age: usersFirebase.age,
              description: descriptionArray,
              profession: usersFirebase.profession,
              interests: usersFirebase.interests,
            },methods:{updateUser:function(){
              var userUID = firebase.auth().currentUser.uid
              firebase.database().ref('users/' + userUID).update({
                displayName: this.displayName,
                email: this.email,
                lineID: this.lineID,
                phone: this.phone,
                nickname: this.nickname,
                gender: this.gender,
                age: this.age,
                description: this.description,
                profession: this.profession,
                interests: this.interests,
              }).catch(function(error) {
                // An error occurred
              });
            }
          }
          });

        });



        //admin_profile
      } else {
        
        // $('.fb_login').show();
        // User logged out
      }
    });



    // firebase.database().ref('users/'+uid).once("value").then(function(all){
    // 											usersFirebase = all.val();
    //                       console.log(usersFirebase);
    // 										});



  </script>

</body>

</html>
