<html lang="zh">

<head>
  <meta charset="utf-8">
  <title>Let`s Movie | 一起看電影</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="stylesheet" href="bower_components/sweetalert2/dist/sweetalert2.min.css">
  <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/theme-red.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/font-georgia.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/index.css" rel="stylesheet" type="text/css" media="all" />
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
  <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
  <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
</head>

<body>
  <div class="loading6"></div>
  <div class="admin_page">
    <a id="top"></a>
    <nav class="admin-nav">
      <div class="nav-bar">
        <div class="module left">
          <a href="index.html">
            <img class="logo logo-light" alt="Foundry" src="img/logo-dark.png" />
            <img class="logo logo-dark" alt="Foundry" src="img/logo-dark.png" />
          </a>
        </div>
        <!--end of module group-->
      </div>
    </nav>
    <nav class="absolute fixed scrolled profile-nav">
      <div class="nav-bar">

        <div class="module widget-handle mobile-toggle right visible-sm visible-xs" style="border: none;">
          <i class="ti-menu"></i>
        </div>
        <div class="module-group left">
          <div class="module left">
            <ul class="menu sub-menu">
              <li>
                <a href="admin_join.html">馬上報名</a>
              </li>
              <li>
                <a href="admin_check.html">檢視約會</a>
              </li>
              <li>
                <a href="admin_profile.html">個人資料</a>
              </li>
            </ul>
          </div>
          <!--end of menu module-->
        </div>
        <!--end of module group-->
      </div>
    </nav>
  </div>




  <div class="admin-container">
    <div class="alert alert-warning alert-dismissible container" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <strong>您的個人資料尚未填寫完全!</strong></br>
      <p>
        個人資料填寫完畢才能報名活動喔。
      </p>
      <a class="waves-effect waves-light btn btn-filled write-data" href="admin_profile.html">馬上填寫</a>
    </div>
    <!-- <div class="alert alert-danger alert-dismissible container" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <strong>近期約會!</strong></br>
      <p>
        6/1 台北場 Let`s Movie 一對一電影約會
      </p>
      <a class="waves-effect waves-light btn btn-filled">馬上報名</a>
    </div> -->
    <div class="alert alert-info alert-dismissible container" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <strong>報名截止前記得匯款喔<span>（匯款後才會幫您配對，如果已經匯款請忽略此訊息）</span></strong></br>
      <p>
        6/15 台北場 Let`s Movie 一對一電影約會
      </p>
      <a class="waves-effect waves-light btn btn-filled pay">馬上匯款</a>
      <!-- <a class="btn btn-filled" href="#">馬上匯款</a> -->
    </div>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-12" style="padding-left: 0px ; padding-right: 0px">
            <div class="image-tile outer-title text-center">
              <img alt="Pic" id="pic_my">
              <div class="title mb16">
                <h5 class="uppercase mb0">Sally Marsh</h5>
                <span>Creative Director</span>
              </div>
            </div>
            <div class="tabbed-content box-shadow admin-tab">
              <h4 class="uppercase">已報名電影約會</h4>
              <table class="table" id='app5'>
                <thead class="thead-inverse">
                  <tr>
                    <th class="col-md-2 col-xs-2">報名期</th>
                    <th class="col-md-2 col-xs-2 hidden-xs">公布媒合</th>
                    <th class="col-md-2 col-xs-2 hidden-xs">活動期</th>
                    <th class="col-md-2 col-xs-2">地點</th>
                    <th class="col-md-2 col-xs-2">狀態</th>


                  </tr>
                </thead>
                <tbody>
                  <tr v-for="user_activity in user_activities">
                    <td class="col-md-2 col-xs-2 hidden-xs">{{user_activity.dateSignUp}}</td>
                    <td class="col-md-2 col-xs-2 hidden-xs">{{user_activity.dateMatch}}</td>
                    <td class="col-md-2 col-xs-2">{{user_activity.dateActivity}}</td>
                    <td class="col-md-2 col-xs-2">{{user_activity.location}}</td>
                    <td class="col-md-2 col-xs-2 state">{{user_activity.status}}</td>
                    <td v-if="user_activity.status==0"><a class="pay-btn-check pay-btn">匯款</a></td>
                  </tr>
                  <!-- <tr>
                    <td>6/15</td>
                    <td>台北</td>
                    <td>等待匯款</td>
                    <td><a class="pay-btn" href="#">匯款</a></td>
                  </tr>
                  <tr>
                    <td>6/30</td>
                    <td>台北</td>
                    <td>等待匯款</td>
                    <td><a class="pay-btn" href="#">匯款</a></td>
                  </tr> -->
                </tbody>
              </table>

            </div>

          </div>
          <!--end of button tabs-->
        </div>

        <!-- 以下這段是串接資料的參考資訊 -->
        <!-- <div id='app5'>
            <p v-for="user_activity in user_activities">
               {{user_activity.dateMatch}}
               {{user_activity.location}}
               {{user_activity.status}}
            </p>
        </div> -->

      </div>
      <!--end of row-->
  </div>
  <!--end of container-->
  </section>
  </div>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/flickr.js"></script>
  <script src="js/flexslider.min.js"></script>
  <script src="js/lightbox.min.js"></script>
  <script src="js/masonry.min.js"></script>
  <script src="js/twitterfetcher.min.js"></script>
  <script src="js/spectragram.min.js"></script>
  <script src="js/ytplayer.min.js"></script>
  <script src="js/countdown.min.js"></script>
  <script src="js/smooth-scroll.min.js"></script>
  <script src="bower_components/sweetalert2/dist/sweetalert2.min.js"></script>
  <script src="js/parallax.js"></script>
  <script src="js/scripts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script src="js/index.js"></script>
  <script src="js/server.js"></script>

  <script>
  //   $().ready(function(){
  //   var state =  $('.state').text();
  //   console.log(state);
  // });


    var auth = firebase.auth();
    var name;
    var uid;
    var usersFirebase;
    auth.onAuthStateChanged(function(user) {
      if (user) {
            uid = user.uid
             firebase.database().ref('user-activities/'+uid).once("value").then(function(all){
              var x = new Vue({
                el: '#app5',
                data: {user_activities:all.val()},
                });
                $('.pay-btn, .pay').on('click',function() {
                  swal({
                    title: '請選擇付款方式',
                    html: '<a class="waves-effect waves-light btn btn-filled bank">銀行轉帳</a>'+
                          '<a class="all-pay" href="https://qr.allpay.com.tw/yWn8q"><img src="https://payment.allpay.com.tw/Content/themes/WebStyle201404/images/allpay.png" /></a>'+
                          '<div class="hide-text"><input type="text" placeholder="帳號末五碼"><p>匯款帳號：(808)1067979112384 </p><input type="submit" value="送出資料"></div>',
                  })
                  $('.swal2-confirm').css({'display':'none' });
                  $('.swal2-modal').css({'top':'70%','height': '60%'});
                  $('.bank').click(function(){$('.hide-text').fadeIn(300);})
                })
                $('#pic_my').attr("src", photoURL);
            })
       }
    })



  </script>
</body>

</html>
