<html lang="zh">

<head>
  <meta charset="utf-8">
  <title>Let`s Movie | 一起看電影</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/theme-red.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="stylesheet" href="bower_components/sweetalert2/dist/sweetalert2.min.css">
  <link href="css/font-georgia.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/index.css" rel="stylesheet" type="text/css" media="all" />
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
  <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
  <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>

</head>
<style>
  .swal2-modal {
    height: 36%;
    /*top: 120%;*/
    padding: 40px;
    height: 220px;
  }
  .swal2-modal h2 {
    font-size: 3rem;
    text-align: center;
    position: static;
    margin-top: 20px;
    /*left: 50%;*/
    /*margin-left: -110px;*/
    /*top: 37%;*/

  }
  .swal2-content {
    text-align: center;
  }
  .swal2-modal button.styled {
    position: absolute;
    width: auto;
    left: 50%;
    padding: 10px 32px;
    margin: 0 5px;
    margin-left: -45px;
    height: 45px;
    margin-bottom: 20px;
  }
</style>

<body id="app2">
  <div class="loading6"></div>
  <div class="admin_page">
    <a id="top"></a>
    <nav class="admin-nav">
      <div class="nav-bar">
        <div class="module left">
          <a href="index.html">
            <img class="logo logo-light" alt="Foundry" src="img/logo-dark.png" />
            <img class="logo logo-dark" alt="Foundry" src="img/logo-dark.png" />
          </a>
        </div>
        <!--end of module group-->
      </div>
    </nav>
    <nav class="absolute fixed scrolled profile-nav">
      <div class="nav-bar">

        <div class="module widget-handle mobile-toggle right visible-sm visible-xs" style="border: none;">
          <i class="ti-menu"></i>
        </div>
        <div class="module-group left">
          <div class="module left">
            <ul class="menu sub-menu">
              <li>
                <a href="admin_join.html">馬上報名</a>
              </li>
              <li>
                <a href="admin_check.html">檢視約會</a>
              </li>
              <li>
                <a href="admin_profile.html">個人資料</a>
              </li>
            </ul>
          </div>
          <!--end of menu module-->
        </div>
        <!--end of module group-->
      </div>
    </nav>
  </div>




  <div class="admin-container">
    <div class="alert alert-warning alert-dismissible container" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <strong>您的個人資料尚未填寫完全!</strong></br>
      <p>
        個人資料填寫完畢才能報名活動喔。
      </p>
      <a class="waves-effect waves-light btn btn-filled write-data" href="admin_profile.html">馬上填寫</a>
    </div>
    <!-- <div class="alert alert-danger alert-dismissible container" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <strong>近期約會!</strong></br>
      <p>
        6/1 台北場 Let`s Movie 一對一電影約會
      </p>
      <a class="waves-effect waves-light btn btn-filled" onclick="showDetail(activity,'台北')">馬上報名</a>
    </div> -->
    <div class="alert alert-info alert-dismissible container" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <strong>報名截止前記得匯款喔<span>（匯款後才會幫您配對，如果已經匯款請忽略此訊息）</span></strong></br>
      <p>
        6/15 台北場 Let`s Movie 一對一電影約會
      </p>
      <a class="waves-effect waves-light btn btn-filled pay">馬上匯款</a>
      <!-- <a class="btn btn-filled" href="#">馬上匯款</a> -->
    </div>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-12" style="padding-left: 0px ; padding-right: 0px">
            <div class="image-tile outer-title text-center">
              <img alt="Pic" id="pic_my">
              <div class="title mb16">
                <h5 class="uppercase mb0">Sally Marsh</h5>
                <span>Creative Director</span>
              </div>
            </div>

            <div class="tabbed-content button-tabs ">
              <h4 class="uppercase">電影約會場次</h4>
              <ul class="tabs join-tab admin-tab">
                <li class="active">
                  <div class="tab-title">
                    <span>台北</span>
                  </div>
                </li>
                <li>
                  <div class="tab-title">
                    <span>新竹</span>
                  </div>

                </li>
                <li>
                  <div class="tab-title">
                    <span>台中</span>
                  </div>

                </li>
                <li>
                  <div class="tab-title">
                    <span>台南</span>
                  </div>

                </li>
                <li>
                  <div class="tab-title">
                    <span>高雄</span>
                  </div>

                </li>
              </ul>
              <ul class="content admin-content">
                <li class="active">
                  <div class="tab-content">
                    <div class="row">
                      <div class="col-md-4 col-sm-6 " v-for="activity in activities | orderBy '$index' order -1 | three">
                        <div class="pricing-table pt-1 text-center boxed ">
                          <h5 class="uppercase">場次</h5>
                          <span class="price">{{activity.name}}</span>
                          <p class="lead">{{activity.subject}}</p>
                          <a class="btn btn-filled btn-lg" data-toggle="modal" data-target="#{{activity.activityID}}">馬上報名</a>
                          <div class="modal fade" id="{{activity.activityID}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <h4 style="margin-bottom:0px;">這次活動想跟對方看的電影</h4>
                            <p>多選幾場，讓你更容易跟對方配對喔!</p>
                            <p class="col-xs-12 col-md-4" v-for="x in movie " track-by="$index">
                              <input class="inputMovie" v-model="movieCheck" type="checkbox" id="{{$index+1}}" value="{{x}}" />
                              <label for="{{$index+1}}">{{x}}</label>
                            </p>
                            <div class="clearfix"></div>
                            <button class="btn btn-filled btn-lg" style="position: absolute;left: 50%;margin-left: -50px;" v-on:click="join(activity,'台北')">確認</button>
                          </div>
                          <ul>
                            <li>
                              <strong>{{activity.dateSignUp}}</strong> 報名期
                            </li>
                            <li>
                              <strong>{{activity.dateMatch}}</strong> 公佈媒合
                            </li>
                            <li>
                              <strong>{{activity.dateActivity}}</strong> 活動期
                            </li>
                          </ul>
                          <p id='app3' class="people">
                            地點：台北
                          </p>
                          <p class="people-count">



                          </p>
                          </p>
                        </div>
                        <!--end of pricing table-->

                      </div>

                    </div>
                  </div>
                </li>
                <li class="">
                  <div class="tab-content">
                    <div class="row">
                      <div class="col-md-4 col-sm-6" v-for="activity in activities | orderBy 'index' order -1 | three">
                        <div class="pricing-table pt-1 text-center boxed">
                          <h5 class="uppercase">場次</h5>
                          <span class="price">{{activity.name}} </span>
                          <p class="lead">{{activity.subject}}</p>
                          <a class="btn btn-filled btn-lg" data-toggle="modal" data-target="#{{activity.activityID}}">馬上報名</a>
                          <div class="modal fade" id="{{activity.activityID}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <h4 style="margin-bottom:0px;">這次活動想跟對方看的電影</h4>
                            <p>多選幾場，讓你更容易跟對方配對喔!</p>
                            <p class="col-xs-12 col-md-4" v-for="x in movie " track-by="$index">
                              <input class="inputMovie" v-model="movieCheck" type="checkbox" id="{{$index+1}}" value="{{x}}" />
                              <label for="{{$index+1}}">{{x}}</label>
                            </p>
                            <div class="clearfix"></div>
                            <button class="btn btn-filled btn-lg " style="position: absolute;left: 50%;margin-left: -50px;" v-on:click="join(activity,'新竹')">確認</button>
                          </div>                          <ul>
                            <li>
                              <strong>{{activity.dateSignUp}}</strong> 報名期
                            </li>
                            <li>
                              <strong>{{activity.dateMatch}}</strong> 公佈媒合
                            </li>
                            <li>
                              <strong>{{activity.dateActivity}}</strong> 活動期
                            </li>
                          </ul>
                          <p class="people">
                            地點：新竹
                          </p>
                          <p class="people-count">

                          </p>
                          </p>
                        </div>
                        <!--end of pricing table-->
                      </div>
                    </div>
                  </div>
                </li>
                <li class="">
                  <div class="tab-content">
                    <div class="row">
                      <div class="col-md-4 col-sm-6" v-for="activity in activities | orderBy 'index' order -1 | three">
                        <div class="pricing-table pt-1 text-center boxed">
                          <h5 class="uppercase">場次</h5>
                          <span class="price">{{activity.name}}</span>
                          <p class="lead">{{activity.subject}}</p>
                          <a class="btn btn-filled btn-lg" data-toggle="modal" data-target="#{{activity.activityID}}">馬上報名</a>
                          <div class="modal fade" id="{{activity.activityID}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <h4 style="margin-bottom:0px;">這次活動想跟對方看的電影</h4>
                            <p>多選幾場，讓你更容易跟對方配對喔!</p>
                            <p class="col-xs-12 col-md-4" v-for="x in movie " track-by="$index">
                              <input class="inputMovie" v-model="movieCheck" type="checkbox" id="{{$index+1}}" value="{{x}}" />
                              <label for="{{$index+1}}">{{x}}</label>
                            </p>
                            <div class="clearfix"></div>
                            <button class="btn btn-filled btn-lg " style="position: absolute;left: 50%;margin-left: -50px;" v-on:click="join(activity,'台中')">確認</button>
                          </div>                          <ul>
                            <li>
                              <strong>{{activity.dateSignUp}}</strong> 報名期
                            </li>
                            <li>
                              <strong>{{activity.dateMatch}}</strong> 公佈媒合
                            </li>
                            <li>
                              <strong>{{activity.dateActivity}}</strong> 活動期
                            </li>
                          </ul>
                          <p class="people">
                            地點：台中
                          </p>
                          <p class="people-count">

                          </p>
                          </p>
                        </div>
                        <!--end of pricing table-->
                      </div>
                    </div>
                  </div>
                </li>
                <li class="">
                  <div class="tab-content">
                    <div class="row">
                      <div class="col-md-4 col-sm-6" v-for="activity in activities | orderBy 'index' order -1 | three">
                        <div class="pricing-table pt-1 text-center boxed">
                          <h5 class="uppercase">場次</h5>
                          <span class="price">{{activity.name}}</span>
                          <p class="lead">{{activity.subject}}</p>
                          <a class="btn btn-filled btn-lg" data-toggle="modal" data-target="#{{activity.activityID}}">馬上報名</a>
                          <div class="modal fade" id="{{activity.activityID}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <h4 style="margin-bottom:0px;">這次活動想跟對方看的電影</h4>
                            <p>多選幾場，讓你更容易跟對方配對喔!</p>
                            <p class="col-xs-12 col-md-4" v-for="x in movie " track-by="$index">
                              <input class="inputMovie" v-model="movieCheck" type="checkbox" id="{{$index+1}}" value="{{x}}" />
                              <label for="{{$index+1}}">{{x}}</label>
                            </p>
                            <div class="clearfix"></div>
                            <button class="btn btn-filled btn-lg " style="position: absolute;left: 50%;margin-left: -50px;" v-on:click="join(activity,'台南')">確認</button>
                          </div>                          <ul>
                            <li>
                              <strong>{{activity.dateSignUp}}</strong> 報名期
                            </li>
                            <li>
                              <strong>{{activity.dateMatch}}</strong> 公佈媒合
                            </li>
                            <li>
                              <strong>{{activity.dateActivity}}</strong> 活動期
                            </li>
                          </ul>
                          <p class="people">
                            地點：台南
                          </p>
                          <p class="people-count">

                          </p>
                          </p>
                        </div>
                        <!--end of pricing table-->
                      </div>
                    </div>
                  </div>
                </li>





                <li class="">
                  <div class="tab-content">
                    <div class="row">
                      <div class="col-md-4 col-sm-6" v-for="activity in activities | orderBy 'index' order -1 | three">
                        <div class="pricing-table pt-1 text-center boxed">
                          <h5 class="uppercase">場次</h5>
                          <span class="price">{{activity.name}}</span>
                          <p class="lead">{{activity.subject}}</p>
                          <a class="btn btn-filled btn-lg" data-toggle="modal" data-target="#{{activity.activityID}}">馬上報名</a>
                          <div class="modal fade" id="{{activity.activityID}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <h4 style="margin-bottom:0px;">這次活動想跟對方看的電影</h4>
                            <p>多選幾場，讓你更容易跟對方配對喔!</p>
                            <p class="col-xs-12 col-md-4" v-for="x in movie " track-by="$index">
                              <input class="inputMovie" v-model="movieCheck" type="checkbox" id="{{$index+1}}" value="{{x}}" />
                              <label for="{{$index+1}}">{{x}}</label>
                            </p>
                            <div class="clearfix"></div>
                            <button class="btn btn-filled btn-lg " style="position: absolute;left: 50%;margin-left: -50px;" v-on:click="join(activity,'高雄')">確認</button>
                          </div>                          <ul>
                            <li>
                              <strong>{{activity.dateSignUp}}</strong> 報名期
                            </li>
                            <li>
                              <strong>{{activity.dateMatch}}</strong> 公佈媒合
                            </li>
                            <li>
                              <strong>{{activity.dateActivity}}</strong> 活動期
                            </li>
                          </ul>
                          <p class="people">
                            地點：高雄
                          </p>

                          <p class="people-count">

                          </p>
                          </p>
                        </div>
                        <!--end of pricing table-->
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>


          </div>
          <!--end of button tabs-->
        </div>
      </div>
      <!--end of row-->
  </div>
  <!--end of container-->




  </section>
  </div>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="bower_components/sweetalert2/dist/sweetalert2.min.js"></script>
  <script src="js/flickr.js"></script>
  <script src="js/flexslider.min.js"></script>
  <script src="js/lightbox.min.js"></script>
  <script src="js/masonry.min.js"></script>
  <script src="js/twitterfetcher.min.js"></script>
  <script src="js/spectragram.min.js"></script>
  <script src="js/ytplayer.min.js"></script>
  <script src="js/countdown.min.js"></script>
  <script src="js/smooth-scroll.min.js"></script>
  <script src="js/parallax.js"></script>
  <script src="js/scripts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script src="js/server.js"></script>
  <script src="js/index.js"></script>
  <script>

    Vue.filter('three', function(value) {
      return value.slice(0, 3)
    });



    firebase.database().ref('activities').once("value").then(function(all) {

      var vmvm = new Vue({
        el: '#app2',
        data: {
          activities: all.val(),
          movie: [],
          movieCheck: []
        },
        methods: {

          join: function(x, y) {
            // console.log(vmvm.movie);
            // vmvm.$set('movie',av);
            this.showDetail(x, y);
            console.log(this.movie);
            $('.modal-backdrop, .modal').hide();
            swal({title:'報名成功',text:'請至檢視約會頁面查看您的約會'})
          },

          showDetail: function(x, location) {


            var location = location;
            var user = firebase.auth().currentUser;
            var username, email, photoUrl, uid, lineID, phone, nickname, gender, age, description, profession, interests, faceScore, availabeTime;
            firebase.database().ref('/users/' + user.uid).once('value').then(function(snapshot) {
              username = snapshot.val().displayName;
              email = snapshot.val().email;
              photoUrl = snapshot.val().photoURL;
              uid = snapshot.val().uid;
              lineID = snapshot.val().lineID;
              phone = snapshot.val().phone;
              nickname = snapshot.val().nickname;
              gender = snapshot.val().gender;
              age = snapshot.val().age;
              description = snapshot.val().description;
              profession = snapshot.val().profession;
              interests = snapshot.val().interests;
              faceScore = snapshot.val().faceScore;
              availabeTime = snapshot.val().availabeTime;

              var updates = {
                location: location,
                userID:user.uid,
                username: username,
                photoURL: photoUrl,
                email: email,
                lineID: lineID,
                phone: phone,
                nickname: nickname,
                gender: gender,
                age: age,
                description: description,
                profession: profession,
                interests: interests,
                faceScore: faceScore,
                availabeTime: [],
                movie: vmvm.movieCheck,
                status: '完成報名',
                accountLastFive: "",
                activityName: x.name
                  //按下報名,1:無匯款，取消場次,2:配對中,3:已錄取，接收簡訊,4:無錄取，配對失敗,5:退款中,6:活動結束,
              };


              var updates2 = {
                userID:user.uid,
                activityName: x.name,
                activityId: x.activityID,
                dateActivity: x.dateActivity,
                dateMatch: x.dateMatch,
                dateSignUp: x.dateSignUp,
                confirmDate: "",
                movie: vmvm.movieCheck,
                subject: x.subject,
                location: location,
                status: '完成報名',
                //按下報名,1:無匯款，取消場次,2:配對中,3:已錄取，接收簡訊,4:無錄取，配對失敗,5:退款中,6:活動結束
                accountLastFive: "",
              };



              var updates3 = {};
              updates3[user.uid] = true;
              updates3['activityID'] = x.activityID;

              firebase.database().ref('activity-users/' + x.activityID + '/' + user.uid).update(updates);
              firebase.database().ref('user-activities/' + user.uid + '/' + x.activityID).update(updates2);
              firebase.database().ref('activitySignUpMember/' + x.activityID + '/' + location).update(updates3);
              firebase.database().ref('activitySignUpMember/' + x.activityID + '/all').update(updates3);


            });

          }
        }
      });

      $('.pricing-table>a').on('click', function() {
        var e = $(this).attr("data-target");
        var ID = e.substring(1, e.length)
          //  console.log(ID);
        firebase.database().ref('activities/' + ID).once("value").then(function(all5) {
          var movieBefore = all5.val().movie;
          // console.log("b "+ movieBefore)
          var movie = [];
          for (i = 0; i < movieBefore.length; i++) {
            if (movieBefore[i] !== "") {
              movie.push(movieBefore[i]);
              // console.log("m "+movie);
            }
            vmvm.$set('movie', movie);
            // setInterval(function(){ $('.inputMovie').hide(); }, 3000);

          }

          // $('body').find('label').filter(function() { return $(this).text() == ""; }).hide();
        })

      });
    })


      function checkUser(){
        var user = firebase.auth().currentUser;
        console.log("xxxx"+user);
        firebase.database().ref('users/'+user.uid).once("value").then(function(all) {
            if (all.val().phone == ""|all.val().phone==undefined){
                console.log("目前無法報名活動，使用者資料不完整");
            }
            else{
                console.log("使用者資料已經完整")
            }
        });
      }


     
  </script>
  <button onclick="checkUser()">joidfsjoisdf</button>
</body>

</html>
