<html lang="zh">

<head>
  <meta charset="utf-8">
  <title>Let`s Movie | 一起看電影</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/theme-red.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="stylesheet" href="bower_components/sweetalert2/dist/sweetalert2.min.css">
  <link href="css/font-georgia.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/index.css" rel="stylesheet" type="text/css" media="all" />
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
  <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
  <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>

</head>

<body>
  <div class="loading6"></div>
  <div class="admin_page">
    <a id="top"></a>
    <nav class="admin-nav">
      <div class="nav-bar">
        <div class="module left">
          <a href="index.html">
            <img class="logo logo-light" alt="Foundry" src="img/logo-dark.png" />
            <img class="logo logo-dark" alt="Foundry" src="img/logo-dark.png" />
          </a>
        </div>
        <!--end of module group-->
      </div>
    </nav>
<nav class="absolute fixed scrolled profile-nav">
      <div class="nav-bar">

        <div class="module widget-handle mobile-toggle right visible-sm visible-xs" style="border: none;">
          <i class="ti-menu"></i>
        </div>
        <div class="module-group left">
          <div class="module left">
            <ul class="menu sub-menu">
              <li>
                <a href="admin_join.html">馬上報名</a>
              </li>
              <li>
                <a href="admin_check.html">檢視約會</a>
              </li>
              <li>
                <a href="admin_profile.html">個人資料</a>
              </li>
            </ul>
          </div>
          <!--end of menu module-->
        </div>
        <!--end of module group-->
      </div>
    </nav>
  </div>




  <div class="admin-container">
    <div class="alert alert-warning alert-dismissible container" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <strong>您的個人資料尚未填寫完全!</strong></br>
      <p>
        個人資料填寫完畢才能報名活動喔。
      </p>
      <a class="waves-effect waves-light btn btn-filled write-data" href="admin_profile.html">馬上填寫</a>
    </div>
    <div class="alert alert-danger alert-dismissible container" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <strong>近期約會!</strong></br>
      <p>
        6/1 台北場 Let`s Movie 一對一電影約會
      </p>
      <a class="waves-effect waves-light btn btn-filled" onclick="participate()">馬上報名</a>
    </div>
    <div class="alert alert-info alert-dismissible container" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <strong>報名截止前記得匯款喔<span>（匯款後才會幫您配對，如果已經匯款請忽略此訊息）</span></strong></br>
      <p>
        6/15 台北場 Let`s Movie 一對一電影約會
      </p>
      <a class="waves-effect waves-light btn btn-filled pay">馬上匯款</a>
      <!-- <a class="btn btn-filled" href="#">馬上匯款</a> -->
    </div>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-12" style="padding-left: 0px ; padding-right: 0px">
            <div class="image-tile outer-title text-center">
              <img alt="Pic" src="img/test.jpg">
              <div class="title mb16">
                <h5 class="uppercase mb0">Sally Marsh</h5>
                <span>Creative Director</span>
              </div>
            </div>

            <div class="tabbed-content button-tabs ">
              <h4 class="uppercase">電影約會場次</h4>
              <ul class="tabs join-tab admin-tab">
                <li class="active">
                  <div class="tab-title">
                    <span>台北</span>
                  </div>
                </li>
                <li>
                  <div class="tab-title">
                    <span>新竹</span>
                  </div>

                </li>
                <li>
                  <div class="tab-title">
                    <span>台中</span>
                  </div>

                </li>
                <li>
                  <div class="tab-title">
                    <span>台南</span>
                  </div>

                </li>
                <li>
                  <div class="tab-title">
                    <span>高雄</span>
                  </div>

                </li>
              </ul>
              <ul class="content admin-content" id="app2">
                <li class="active">
                  <div class="tab-content">
                    <div class="row">
                      <div class="col-md-4 col-sm-6" v-for="activity in activities | orderBy 'index' order -1 | three">
                        <div class="pricing-table pt-1 text-center boxed">
                          <h5 class="uppercase">場次</h5>
                          <span class="price">{{activity.name}}</span>
                          <p class="lead">{{activity.subject}}</p>
                          <a class="btn btn-filled btn-lg" href="#">馬上報名</a>
                          <ul>
                            <li>
                              <strong>{{activity.dateSignUp}}</strong> 報名期
                            </li>
                            <li>
                              <strong>{{activity.dateMatch}}</strong> 公佈媒合
                            </li>
                            <li>
                              <strong>{{activity.dateActivity}}</strong> 活動期
                            </li>
                          </ul>
                          <p class="people">
                            總報名人數
                          </p>
                          <p class="people-count">
                            {{activity.user.length}}
                          </p>
                          </p>
                        </div>
                        <!--end of pricing table-->
                      </div>
                    </div>
                  </div>
                </li>
                <li class="">
                  <div class="tab-content">
                    <div class="row">
                      <div class="col-md-4 col-sm-6" v-for="activity in activities | orderBy 'index' order ">
                        <div class="pricing-table pt-1 text-center boxed">
                          <h5 class="uppercase">場次</h5>
                          <span class="price">{{activity.name}}</span>
                          <p class="lead">{{activity.subject}}</p>
                          <a class="btn btn-filled btn-lg" href="#">馬上報名</a>
                          <ul>
                            <li>
                              <strong>{{activity.dateSignUp}}</strong> 報名期
                            </li>
                            <li>
                              <strong>{{activity.dateMatch}}</strong> 公佈媒合
                            </li>
                            <li>
                              <strong>{{activity.dateActivity}}</strong> 活動期
                            </li>
                          </ul>
                          <p class="people">
                            總報名人數
                          </p>
                          <p class="people-count">
                            {{activity.user.length}}
                          </p>
                          </p>
                        </div>
                        <!--end of pricing table-->
                      </div>
                    </div>
                  </div>
                </li>
                <li class="">
                  <div class="tab-content">
                    <div class="row">
                      <div class="col-md-4 col-sm-6" v-for="activity in activities | orderBy 'index' order ">
                        <div class="pricing-table pt-1 text-center boxed">
                          <h5 class="uppercase">場次</h5>
                          <span class="price">{{activity.name}}</span>
                          <p class="lead">{{activity.subject}}</p>
                          <a class="btn btn-filled btn-lg" href="#">馬上報名</a>
                          <ul>
                            <li>
                              <strong>{{activity.dateSignUp}}</strong> 報名期
                            </li>
                            <li>
                              <strong>{{activity.dateMatch}}</strong> 公佈媒合
                            </li>
                            <li>
                              <strong>{{activity.dateActivity}}</strong> 活動期
                            </li>
                          </ul>
                          <p class="people">
                            總報名人數
                          </p>
                          <p class="people-count">
                            {{activity.user.length}}
                          </p>
                          </p>
                        </div>
                        <!--end of pricing table-->
                      </div>
                    </div>
                  </div>
                </li>
                <li class="">
                  <div class="tab-content">
                    <div class="row">
                      <div class="col-md-4 col-sm-6" v-for="activity in activities | orderBy 'index' order ">
                        <div class="pricing-table pt-1 text-center boxed">
                          <h5 class="uppercase">場次</h5>
                          <span class="price">{{activity.name}}</span>
                          <p class="lead">{{activity.subject}}</p>
                          <a class="btn btn-filled btn-lg" href="#">馬上報名</a>
                          <ul>
                            <li>
                              <strong>{{activity.dateSignUp}}</strong> 報名期
                            </li>
                            <li>
                              <strong>{{activity.dateMatch}}</strong> 公佈媒合
                            </li>
                            <li>
                              <strong>{{activity.dateActivity}}</strong> 活動期
                            </li>
                          </ul>
                          <p class="people">
                            總報名人數
                          </p>
                          <p class="people-count">
                            {{activity.user.length}}
                          </p>
                          </p>
                        </div>
                        <!--end of pricing table-->
                      </div>
                    </div>
                  </div>
                </li>
                <li class="">
                  <div class="tab-content">
                    <div class="row">
                      <div class="col-md-4 col-sm-6" v-for="3 in activities | orderBy 'index' order ">
                        <div class="pricing-table pt-1 text-center boxed">
                          <h5 class="uppercase">場次</h5>
                          <span class="price">{{activity.name}}</span>
                          <p class="lead">{{activity.subject}}</p>
                          <a class="btn btn-filled btn-lg" href="#">馬上報名</a>
                          <ul>
                            <li>
                              <strong>{{activity.dateSignUp}}</strong> 報名期
                            </li>
                            <li>
                              <strong>{{activity.dateMatch}}</strong> 公佈媒合
                            </li>
                            <li>
                              <strong>{{activity.dateActivity}}</strong> 活動期
                            </li>
                          </ul>
                          <p class="people">
                            總報名人數
                          </p>
                          <p class="people-count">
                            {{activity.user.length}}
                          </p>
                          </p>
                        </div>
                        <!--end of pricing table-->
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>


          </div>
          <!--end of button tabs-->
        </div>
      </div>
      <!--end of row-->
  </div>
  <!--end of container-->
  </section>
  </div>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="bower_components/sweetalert2/dist/sweetalert2.min.js"></script>
  <script src="js/flickr.js"></script>
  <script src="js/flexslider.min.js"></script>
  <script src="js/lightbox.min.js"></script>
  <script src="js/masonry.min.js"></script>
  <script src="js/twitterfetcher.min.js"></script>
  <script src="js/spectragram.min.js"></script>
  <script src="js/ytplayer.min.js"></script>
  <script src="js/countdown.min.js"></script>
  <script src="js/smooth-scroll.min.js"></script>
  <script src="js/parallax.js"></script>
  <script src="js/scripts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script src="js/server.js"></script>
  <script src="js/index.js"></script>
  <script>
  Vue.filter( 'three' , function ( value ) {
    return value.slice(0,3)
})

  firebase.database().ref('activities').once("value").then(function(all){

                           new Vue({
                            el: '#app2',
                            data: {activities:all.val()},
                            methods:{
                                showDetail: function(x){
                                    console.log(x.activityID);
                                //用於報名user-activities
                                	var updates = {};
  		                         updates["users"]=[uid];
  		                         firebase.database().ref('activitiesUserSignUp/'+activityPush.key).update(updates);
                                }
                            }
                          });
  });

  </script>
</body>

</html>
