<html>
<head>
     <meta charset="utf-8">
        <title>Let`s Movie | 一起看電影</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/theme-red.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/font-georgia.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/index.css" rel="stylesheet" type="text/css" media="all" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
        <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
        <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
      <style type="text/css">

        .content>div {
          display: none;
        }
        .content    .active {
          display: block;
        }
        .show {
        }
        .hide{
          display:none;
        }
        button {
          background-color: #b6172f;
        color: white;
        transition: ;
        border: none;
        box-shadow: 2px 2px 5px gray;
        padding: 10px 20px;
        margin: 10px 0px;
        transition: all .3s;
        }
        button:hover,button:active {
          outline: none;
          background-color: white;
        }
        button:hover,button:focus {
          background-color: white;
          color: #b6172f;
        }
      </style>
</head>
<body>
  <nav class="admin-nav">
      <div class="nav-bar">
        <div class="module left">
          <a href="index.html">
            <img class="logo logo-light" alt="Foundry" src="img/logo-dark.png">
            <img class="logo logo-dark" alt="Foundry" src="img/logo-dark.png">
          </a>
        </div>
        <!--end of module group-->
      </div>
    </nav>
<nav class="absolute fixed scrolled profile-nav">
      <div class="nav-bar">

        <div class="module widget-handle mobile-toggle right visible-sm visible-xs" style="border: none;">
          <i class="ti-menu"></i>
        </div>
        <div class="module-group left">
          <div class="module left">
            <ul class="menu sub-menu">
              <li data-index="1">
                <a href="#">會員資料</a>
              </li>
              <li data-index="2">
                <a href="#">新增活動</a>
              </li>
              <li data-index="3">
                <a href="#">活動報名管理</a>
              </li>
            </ul>
          </div>
          <!--end of menu module-->
        </div>
        <!--end of module group-->
      </div>
    </nav>

    <div style="position:absolute;top:100px;padding: 20px" class="content">
      <div class="1 active admin-back-content">
        <div id="app1" class="1">

          <div id="detail" class="hide">
          臉蛋分數：{{faceScore}}<br>
          <input v-model="faceScore"></input><button v-on:click="updateUser()">確定修改</button>
          </div>
          搜尋：<br>
          <input v-model="query">  <br>
            <p v-for="user in users | filterBy query">
              <img v-bind:src="user.photoURL"><br>
              uid:{{user.uid}}<br>
              姓名:{{user.displayName}}<br>
              綽號:{{user.nickname}}<br>
              年齡:{{user.age}}<br>
              email:{{user.email}}<br>
              lineID:{{user.lineID}}<br>
              電話:{{user.phone}}<br>
              性別:{{user.gender}}<br>
              職業:{{user.profession}}<br>
              興趣:{{user.interests}}<br>
              臉蛋分數:{{user.faceScore}}<br>
              別人形容:{{user.description}}<br>
              <button v-on:click="showDetail(user,'5')"> 5分 </button>
              <button v-on:click="showDetail(user,'5.5')">5.5分</button>
              <button v-on:click="showDetail(user,'6')">6分</button>
              <button v-on:click="showDetail(user,'6.5')">6.5分</button>
              <button v-on:click="showDetail(user,'7')">7分</button>
              <button v-on:click="showDetail(user,'7.5')">7.5分</button>
              <button v-on:click="showDetail(user,'8')">8分</button>
              <button v-on:click="showDetail(user,'8.5')">8.5分</button>
              <button v-on:click="showDetail(user,'9')">9分</button>
            </p>
        </div>
      </div>



      <div class="2 admin-back-content">
         <div id="app2">
              <!-- index:<input v-model="index"><br> -->
              name:<input v-model="name"><br>
              subject:<input v-model="subject"><br>
              dateSignUp:<input v-model="dateSignUp"><br>
              dateMatch:<input v-model="dateMatch"><br>
              dateActivity:<input v-model="dateActivity"><br>
              movie:<input id="movie1" v-model="movie1">movie2:<input id="movie2" v-model="movie2">movie3:<input id="movie3" v-model="movie3">movie4:<input id="movie4" v-model="movie4">movie5:<input id="movie5" v-model="movie5">movie6:<input id="movie6" v-model="movie6">movie7:<input id="movie7" v-model="movie7">movie8:<input id="movie8" v-model="movie8">movie9:<input id="movie9" v-model="movie9">movie10:<input id="movie10" v-model="movie10"><br>
              location:<input v-model="location"><br>
              <!-- 讓使用者勾的有空時間:<input v-model="freeTime"><br> -->
              status:<input v-model="status"><br>
              <!-- 0:不能報名,1:可以報名,2:結束了（不會顯示） -->
              <button onclick="signUpActivity()">新增活動</button>
        </div>
      </div>


      <div class="3 admin-back-content">
        <div id="app4" >
          <div v-for="activity in activities" style="display: inline-block;" >
            {{activity.name}}
            <button v-on:click="showActivity(activity)">check</button>

          </div>
          <br>
          搜尋關鍵字(ex:男,台北...)<input v-model="query"></input><br>
          條件二(ex:電影,顏值...)<input v-model="query2"></input>


          <div v-for="activity_user in activity_users| filterBy query|filterBy query2">
            <img v-bind:src="activity_user.photoURL"><br>
            名稱：{{activity_user.username}}<br>
            性別：{{activity_user.gender}}<br>
            綽號：{{activity_user.nickname}}<br>
            興趣:{{activity_user.interests}}<br>
            年齡：{{activity_user.age}}<br>
            電影:{{activity_user.movie}}<br>
            地區：{{activity_user.location}}<br>
            顏值：{{activity_user.faceScore}}<br>
            free時間:{{activity_user.availabeTime}}<br>
            個性:{{activity_user.description}}<br>
            狀態:{{activity_user.status}}<br>
            <button v-on:click="status0(activity_user)">已報名</button>
            <button v-on:click="status1(activity_user)">無匯款，取消場次</button>
            <button v-on:click="status2(activity_user)">配對中</button>
            <button v-on:click="status3(activity_user)">已錄取，接收簡訊</button>
            <button v-on:click="status4(activity_user)">無錄取，配對失敗</button>
            <button v-on:click="status5(activity_user)">退款中</button>
            <button v-on:click="status6(activity_user)">活動結束</button>

            <br>


            <!-- status:0,
            //按下報名,1:無匯款，取消場次,2:配對中,3:已錄取，接收簡訊,4:無錄取，配對失敗,5:退款中,6:活動結束,
            location:,
            userID: XXX(userID),
            username:,
            photoURL:,
            email:,
            lineID:,
            phone:,
            nickname:,
            gender:,
            age:,
            description:,
            profession:,
            interests:,
            faceScore:,
            availabeTime:, -->

            </div>



        </div>
        </div>



      </div>



    </div>




      <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/flickr.js"></script>
        <script src="js/flexslider.min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/masonry.min.js"></script>
        <script src="js/twitterfetcher.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/ytplayer.min.js"></script>
        <script src="js/countdown.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/scripts.js"></script>
        <script src="js/index.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js"></script>
        <script src="js/server_back.js"></script>


</body>
