<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
		<script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>


<script>

var config = {
                apiKey: "AIzaSyAuzEl07MHtqY68GScLEdGen7Pwxe4AsTY",
                authDomain: "project-1685736578378459097.firebaseapp.com",
                databaseURL: "https://project-1685736578378459097.firebaseio.com",
                storageBucket: "project-1685736578378459097.appspot.com",
              };
 firebase.initializeApp(config);

function signUp(){
                  var auth = firebase.auth();
                  var provider = new firebase.auth.FacebookAuthProvider();
                  auth.signInWithPopup(provider).then(function(result) {
                  var uid = result.user.uid;
                  var displayName = result.user.displayName;
                  var photoURL = result.user.photoURL;
       			  var email = result.user.email;

                    firebase.database().ref('users/'+uid).set({
                                     uid: uid,
                                    displayName: displayName,
                                    photoURL: photoURL,
                                    email:email,
                                    lineID:'',
						            phone:'',
						            nickname:'',
						            gender:'',
						            age:'',
						            description:'',
						            profession:'',
						            interests:'',
						            faceScore:''
                                   
                      });
                }).catch(function(error) {
                  // An error occurred
                });
                }


  				var auth = firebase.auth();
                var name;
                //以下就是自動登入並判斷是否登入
                auth.onAuthStateChanged(function(user) {
                  if (user) {

                    var uid = user.uid;
                    var name = user.displayName;
                    var photoURL = user.photoURL;

                    console.log("uid :"+uid+" User Login");
                    console.log("name:"+name);
                    console.log("photo網址:"+photoURL);
                      
                  } else {

                      console.log("沒登入");
                    // User logged out
                  }
                });

   function signOut(){

   	firebase.auth().signOut().then(function() {
  // Sign-out successful.
}, function(error) {
  // An error happened.
});

   }



//   html:
<div id="app2">
              age:<input v-model="age"><br>
              interests:<input v-model="interests"><br>
              <button onclick="updateUser()">update</button>

    </div>
//js:

var usersFirebase ;
firebase.database().ref('users/'+userUID).once("value").then(function(all){
                      usersFirebase = all.val()
                    });

var vm2 = new Vue({
                      el: '#app2',
                      data: {
              displayName:usersFirebase.displayName,
            photoURL:usersFirebase.photoURL,
            email:usersFirebase.email,
            lineID:usersFirebase.lineID,
            phone:usersFirebase.phone
            nickname:usersFirebase.nickname,
            gender:usersFirebase.gender,
            age:usersFirebase.age,
            description:usersFirebase.description,
            profession:usersFirebase.profession,
            interests:usersFirebase.interests,
                      }
               });

       function updateUser(){
          var userUID = firebase.auth().currentUser.uid
           firebase.database().ref('users/'+userUID).update({
               displayName:vm2.displayName,
            email:vm2.email,
            lineID:vm2.lineID,
            phone:vm2.phone
            nickname:vm2.nickname,
            gender:vm2.gender,
            age:vm2.age,
            description:vm2.description,
            profession:vm2.profession,
            interests:vm2.interests,

                }).catch(function(error) {
                  // An error occurred
                });

       }

</script>